<form (ngSubmit)="stopEdit($event)" #planetForm="ngForm" class="planetContainer">
    <div>
        <h2>{{planet.Name}}</h2>

        <div class="planetDetails">
            <p>Num of Moons: {{planet.Moons}}</p>
            <p>Distance from Sun: {{planet.DistanceFromSun}},000000 kms</p>
        </div>
    </div>

    <div *ngIf="editing">
        <input type="text" placeholder="Name" name="name" [(ngModel)]="planet.Name" required #name="ngModel">

        <input type="text" placeholder="No. Moons" name="moons" id="moons" [(ngModel)]="planet.Moons" pattern="[0-9]*"
            required #moons="ngModel">

        <input type="text" placeholder="Distance from Sun" name="distance" id="distance"
            [(ngModel)]="planet.DistanceFromSun" pattern="[0-9]*" required #distance="ngModel">

        <div *ngIf="(name.errors.required || moons.errors.required || distance.errors.required)">All fields are required
        </div>
        <div *ngIf="(moons.errors.pattern || distance.errors.pattern)">Must be a number</div>
    </div>

    <div>
        <button *ngIf="!editing" (click)="startEdit()">Edit</button>
        <button type="submit" *ngIf="editing">Save</button>

        <button (click)="deletePlanet(planet)">Remove</button>
    </div>
</form>