<form (ngSubmit)="stopEdit($event)" #planetForm="ngForm" class="planetContainer" formGroupName="planetForm" >
    <div>
        <h2>{{planet.Name}}</h2>

        <div class="planetDetails">
            <p>Num of Moons: {{planet.Moons}}</p>
            <p>Distance from Sun: {{planet.DistanceFromSun}},000000 kms</p>
        </div>
    </div>

    <div *ngIf="editing">
        <input type="text" placeholder="Name" name="name" [(ngModel)]="planet.Name" #name="ngModel" required>

        <input type="text" placeholder="No. Moons" name="moons" id="moons" [(ngModel)]="planet.Moons"
            ng-pattern="number" #moons="ngModel" required>

        <input type="text" placeholder="Distance from Sun" name="distance" id="distance"
            [(ngModel)]="planet.DistanceFromSun" ng-pattern="number" #distance="ngModel" required>

        <div ng-show="planetForm.name.$error.required && planetForm.name.$dirty">Name is required</div>
        <div ng-show="planetForm.moons.$invalid && planetForm.moons.$dirty">Number of Moons is required</div>
        <div ng-show="planetForm.distance.$invalid && planetForm.distance.$dirty">Distance from Sun is required</div>
        <div ng-show="planetForm.moons.$error.pattern || planetForm.distance.$error.pattern">Must be a number</div>
    </div>

    <div>
        <button *ngIf="!editing" (click)="startEdit()">Edit</button>
        <button type="submit" *ngIf="editing">Save</button>

        <button (click)="deletePlanet(planet)">Remove</button>
    </div>
</form>