* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    margin: 0;
    padding-top: 20px;
    color: coral;
}

p {
    padding-right: 20px;
}

button {
    width: fit-content;
    margin-bottom: 20px;
    margin-right: 5px;
}

input {
    outline-color: rgb(255, 208, 0);
    margin-right: 5px;
    margin-bottom: 10px;
}

input::placeholder {
    opacity: 60%;
}

input.ng-valid {
    outline-color: rgb(3, 179, 3);
}

input.ng-invalid {
    outline-color: crimson;
}

.planetContainer {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px;
    width: 600px;
}

.planetDetails {
    display: flex;
    flex-direction: row;
}

#distance {
    width: 135px;
}

#moons {
    width: 70px;
}